@media(max-width:1500px){
    nav-seath{
        display: flex;
    align-items: center;
    margin-left: auto;
    }
    .about_block{
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        padding: 0 50px;
    }
    .logo{
        width: 153px;
        height: 50px;
        padding-bottom: 4px;
        padding-right: 5px;
    }
    .about__img{
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 38px;
    }
    .about__cards__block{
    margin-bottom: 17px;
    margin-left: 8px;


    }
    .about__cards__block__in{
        margin-left: 8px;
    }
    .hero_block{
            position: relative;
    }
    .hero_header{
        max-width: 100%;
        margin-bottom: 14px;
        font-size: 60px;
        font-weight: 800;
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
    }
    .hero_btn{
        min-width: 280px;
        min-height: 79px;
        font-size: 23px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
    }
    

    .hero_conteiner{
        background: url(/img/low-angle-photo-of-balconies-2462015\ 1.png) center center no-repeat;
        background-size: cover;
        padding: 0px 80px;
        width: 95%;
    }
    .header_conteiner{
        padding-top: 2px;
        min-height: 97px;
}
.footer__text{
    display: none;
    }
}

@media(max-width:1207px) {
    .nav_link{
        display: none;
    }
}



@media(max-width:1024px){
    .logo{
    height: 61px;
    margin-left: 176px;
    margin-top: 2px;
}
.menu-burger__header{
    margin-left: -40px;
    margin-top: 10px;
}
.seatch{
    width: 29px;
    height: 9px;
    margin-right: -51px;
    margin-top: -8px;
}
.menu-burger__header {
    display: block;
    width: 30px;
    position: relative;
    height: 23px;
}
.burger_line {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: black;
}
.burger_line:first-child {
    top: -2px;
    left: -6px;
}
.burger_line:nth-child(2) {
    top: 36%;
    left: -6px;
}
.burger_line:last-child {
    bottom: 2px;
    left: -6px
}
.hero_conteiner{
    margin-top: 22px;
    margin-left: 37px;
    padding: 137px 80px;
    height: 668px;
    max-width: 91%;
}
.hero_header {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-top: 24px;
    margin-left: -3px;
}
.hero_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 59px;
    margin-left: -3px;
    margin-top: 19px;
    width: 87%;
}
.hero_btn{
    margin-left: -4px;
    height: 40px;
    margin-top: -3px;
}


.about__header{
    margin-left: -34px;
    margin-top: -20px;
    margin-bottom: 33px;
}
.about__text{
    margin-top: -34px;
    margin-left: -27px;
    width: 106%;
}
.about__img{
    background: url(/img/1024/Rectangle\ 2.png);
    height: 639px;
    margin-top: 11px;
    margin-bottom: 20px;
}
.about_block {
    display: flex;
    flex-wrap: wrap;
}
.about__img_shadow_button{
    min-width: 177px;
    min-height: 58px;
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-right: 7px;
    padding-left: 34px;

}
.about__img_shadow {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 43px;
    display: flex;
    align-items: center;
    height: 194px;
    justify-content: space-between;
}

.about__cards__block{
    height: 296px;
    width: 100%;

}
.about__cards__img{
    background: url(/img/круг\ и\ квадрат.svg)left center no-repeat;
    padding-left: 218px;
    margin-top: -14px;
    margin-left: 17px;
}
.about__cards__block__in{
    height: 296px;
    width: 100%;
}
.about__img_shadow_text{
    font-size: 16px;
    margin-right: 182px;
    font-weight: 700;
    line-height: 31px;
    margin-left: 10px;
}
.about__cards__img__shardow{
    padding-left: 206px;
    margin-top: 5px;
    margin-left: 17px;
}
.how_header{
    margin-top: -7px;
    margin-bottom: 40px;
    margin-left: -35px;
}
.tabs{
    margin-left: -25px;
}
.how_slide_header {
    margin-top: 4px;
    margin-left: -25px;
}
.how_slide_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-left: -24px;
    margin-top: -3px;
    width: 437px;
}
.how_btn_1{
    margin-left: -24px;
    margin-top: -23px;
    height: 59px;
    margin-right: 33px;
    font-size: 16px;
    padding: 4px 37px;
    line-height: 47px;
    margin-bottom: 6px;
}
.how_btn_2{
    margin-left: 0;
    margin-top: -25px;
    height: 59px;
}
.how-slide__picture {
    background: url(/img/1024/Rectangle\ 18.png);
    margin-left: -77px;
    margin-top: 16px;
    height: 687px;
    width: 88%;
    margin-right: -26px;
}
.question_title{
    margin-left: -34px;
    margin-top: -22px
}
.accordion_link{
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 14px;
}
.accordion{
    margin-left: 10px;
    margin-top: -45px;
}
.footer__logo{
    margin-bottom: 15px;
    margin-top: -2px;
    margin-left: -9px;
}
.footer__nav__li{
    margin-left: 15px;
}
.footer__nav{
    margin-left: -24px;
    width: 264px;
}
.form{
    margin-left: 99px;
    margin-top: 3px;
}
.social {
    margin-bottom: 38px;
    margin-top: 97px;
    margin-left: -6px;
}
.send_btn{
    min-width: 55px;
    min-height: 60px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 7px;
    line-height: 20px;
    margin-left: 1px;
    text-align: center;
    margin-right: 8px;
    padding-left: 22px;
}
.form__header {
    font-size: 48px;
    font-weight: 400;
    color: #cacaca;
    margin-bottom: 25px;
    align-items: stretch;
    margin-top: 17px;
}
.field {
    display: flex;
    width: 112%;
    color: #fff;
    background: #414141;
    border: none;
    outline: none;
    padding: 14px 24px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 32px;
}


}





























    
























































